/* 
    font-family: "Roboto Flex", sans-serif;  
    font-family: "Roboto Condensed", sans-serif;
*/

body {
    background-image: url(../img/assets-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cab {
    background-image: url(../img/assets-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    position: fixed;
    margin-top: -207px;
    z-index: 5;
}

.cab__sectA {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectB {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectA--img {
    height: 15vh;
}

.cab__sectB--h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #F5FBEA;
}

.cab__sectB--h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #F5FBEA;
}

.prin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 207px;
}

.prin__sect {
    position: relative;
    top: -15vh;
    background: #abfbaba3;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.prin__sect--h1 {
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    margin: 20px 150px;
    font-size: 68px;
    font-weight: 600;
    color: #6B434B;
    margin-top: -35px;
}

.prin__sect--a {
    position: relative;
    top: -36vh;
    font-family: "Roboto Slab", sans-serif;
    background: #ABFBAB;
    border-radius: 30px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: #6B434B;
    z-index: 2;
    transition: all 10ms;
}

.prin__sect--a:hover {
    font-style: italic;
}

.excluda2 {
    top: 0;
}

.rod {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #abfbaba3;
    border: none;
    border-radius: 22px 22px 0 0;
}

.rod__divB--p {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    text-align: center;
    color: #6B434B;
    font-weight: 400;
    padding: 10px;
}

.prin__sectB {
    position: relative;
    top: -15vh;
    background: #abfbaba3;
    width: 80%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 45px 0px;
}

.prin__sect--a2 {
    font-family: "Roboto Condensed", sans-serif;
    background: #ABFBAB;
    border-radius: 30px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    font-weight: 300;
    color: #6B434B;
}

.prin__sect--a2:hover {
    text-decoration: underline;
}

.h1-second {
    margin: 15px;
    font-size: 42px;
    margin-top: 0px;
}

.prin__sect--ul {
    padding-left: 30px;
    color: #6B434B;
    padding-top: 7px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.prin__sect--div {
    width: 60%;
}

.prin__sect--li {
    padding: 2px;
}

.cab__sectB--inside {
    margin-right: 147px;
}

@media (max-width: 530px) {
    body {
        background-repeat: repeat;
    }
    .cab {
        height: 43vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/assets-8.png);
        position: absolute;
        margin-top: 0;
    }
    .cab__sectB {
        margin-top: 3vh;
    }
    .cab__sectA {
        margin-top: 3vh;
    }
    .prin {
        margin-top: 0;
        padding-top: 189px;

    }
    .cab__sectB--inside {
        margin-right: 0;
    } 
    .prin__sect {
        top: 5vh;
        height: 70vh;
    }
    .prin__sectB {
        top: 5vh;
        height: 75vh;
        flex-direction: column;
    }
    .prin__sect--h1 {
        font-size: 38px;
        margin: 0 8px;
    }
    .prin__sect--a {
        top: -10vh;
        font-size: 30px;
        width: 47%;

    }
    .excluda2 {
        top: 2vh;
    }
    .rod {
        margin-top: 60px;
        flex-direction: column;
    }
    .rod__sect {
        width: 70%;
    }
    .rod__divA--imgb {
        width: 92%;
    }
    .prin__sect--div {
        width: 90%;
    }
}
