/* 
    font-family: "Roboto Flex", sans-serif;  
    font-family: "Oswald", sans-serif;
*/

body {
    background-image: url(../img/assets-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cab {
    background-image: url(../img/assets-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
}

.cab__sectA {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectB {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectA--img {
    height: 15vh;
}

.cab__sectB--h1 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #F5FBEA;
}

.cab__sectB--h2 {
    font-family: "Oswald", sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #F5FBEA;
}

.prin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prin__sect {
    position: relative;
    top: -15vh;
    background: #abfbaba3;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.prin__sect--h1 {
    font-family: "Roboto Flex", sans-serif; 
    text-align: center;
    margin: 20px;
    font-size: 54px;
    font-weight: 600;
    color: #6B434B;
    margin-top: -35px;
}

.prin__sect--a {
    position: relative;
    top: -36vh;
    font-family: "Oswald", sans-serif;
    background: #ABFBAB;
    border-radius: 30px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    font-weight: 300;
    color: #6B434B;
    z-index: 2;
}

.prin__sect--a:hover {
    text-decoration: underline;
}

.rod {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rod__sect {
    background: #7D515A;
    border-radius: 20px;
    height: 60vh;
    width: 30%;
}

.rod__divA {
    background: #6B434B;
    height: 75%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rod__divA--imga {
    height: 90%;
}

.rod__divA--imgb {
    height: 90%;
}

.rod__divB {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rod__divB--p {
    font-family: "Oswald", sans-serif;
    font-size: 34px;
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    padding: 10px;
}

.prin__sectB {
    position: relative;
    top: -15vh;
    background: #abfbaba3;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.prin__sect--a2 {
    font-family: "Oswald", sans-serif;
    background: #ABFBAB;
    border-radius: 30px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    font-weight: 300;
    color: #6B434B;
}

.prin__sect--a2:hover {
    text-decoration: underline;
}

.h1-second {
    margin: 15px;
    font-size: 38px;
    margin-top: 0px;
}

.prin__sect--ul {
    padding-left: 30px;
    color: #6B434B;
    padding-top: 10px;
    font-size: 20px;
    font-family: "Roboto Flex", sans-serif;
}

.prin__sect--div {
    width: 60%;
}

.prin__sect--li {
    padding: 2px;
}


@media (max-width: 530px) {
    body {
        background-repeat: repeat;
    }
    .cab {
        height: 53vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/assets-8.png);
    }
    .cab__sectB {
        margin-top: 3vh;
    }
    .cab__sectA {
        margin-top: 3vh;
    }
    .prin__sect {
        top: 5vh;
        height: 70vh;
    }
    .prin__sectB {
        top: 5vh;
        height: 96vh;
        flex-direction: column;
    }
    .prin__sect--h1 {
        font-size: 38px;
    }
    .prin__sect--a {
        top: -10vh;
        font-size: 30px;
    }
    .rod {
        height: 150vh;
        flex-direction: column;
    }
    .rod__sect {
        width: 70%;
    }
    .rod__divA--imgb {
        width: 92%;
    }
}