.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-radio input + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
  }
  
  .custom-radio input:checked + label:before {
    background-color: white;
    box-sizing: border-box;
    border: 5px solid #6B434B;
    padding: 4px;
  }

body {
    background-image: url(../img/assets-13.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto", serif;
    background-size: cover;

}

.prin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.prin__img {
    width: 5%;
    margin: 10px;
}

.prin__section--button {
    background: #ABFBAB;
    border-radius: 20px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: #32A287;
    border: 4px solid #32A287;
}

.prin__section--button:hover {
    text-decoration: underline;
}

.prin__section--h1{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #6B434B;
}

.prin__section--fieldset {
    display:  flex;
    width: 80%;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 50% 50%;
}

.label {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #6B434B;
}

.input__text {
    border-radius: 12px;
    font-size: 25px;
    background: transparent;
    border: #32A287 2px solid;
    color: #6B434B;
    width: 90%;
}

.newdivinputtype {
    flex-direction: column;
}

.newinputtype {
    margin: 10px;
}

.div__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fieldset__flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.prin__bnt {
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    background: transparent;
    padding: 12px;
    font-size: 25px;
    border: 8px solid #abfbab;
    border-radius: 12px;
    color: #6b434b;
    font-weight: 600;
    margin: 5px;
    margin-top: 27px;
    margin-left: 27px;
    background: #abfbaba3;
}

.prin__bnt:hover {
    background: #abfbab;
}

.prin__bntb {
    font-family: "Roboto Condensed", sans-serif;
    background: transparent;
    padding: 12px;
    font-size: 25px;
    border: 8px solid #abfbab;
    border-radius: 12px;
    color: #6b434b;
    font-weight: 600;
    margin: 5px;
    background: #abfbaba3;
}

.prin__bntb:hover {
    background: #abfbab;
}

.sectionform {
    width: 70%;
}

.sectionform01 {
    background: #ABFBAB;
    border-top: #32A287 8px solid;
    border-radius: 24px;
    padding: 30px 20px;
    margin: 15px;
    margin-top: 25px;
    height: 10vh;
}

.prin__section {
    background: #ABFBAB;
    border-top: #32A287 8px solid;
    border-radius: 24px;
    padding: 30px 20px;
    margin: 15px;
    margin-top: 25px;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.sectionform01-h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #6B434B;
}

.sectionform01-h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #6B434B;
    margin: 22px 10px;
}

@media (max-width: 530px) {
    body {
        background-position: right;
    }
    .prin__bnt {
        display: none;
    }
    .prin__img {
        display: none;
    }
    .prin__section {
        margin: 5vh 5%;
        height: 90vh;
        background: url(../img/assets-9.png);
        border-radius: 50px;
    }
    .prin__section--fieldset {
        flex-direction: column;
    }

    .input__text {
        font-size: 35px;
        width: 100%;
        height: 60vh;
    }
    .text-line {
        height: auto;
    }

    .custom-radio {
        padding: 20px;
    }
    .sectionform {
        width: 90%;
    }
    .sectionform01 {
        height: 20vh;
    }
    .prin__section--fieldset {
        display: flex;
        width: 100%;
    }
    .prin__bnt {
        display: none;
    }
}

