body {
    background: url(../img/assets-13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.maine {
    background: url(../img/assets-7.png);
    width: 80%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.main__fieldset {
    display: flex;
    flex-direction: column;
}

.main__fieldset--input {
    border-radius: 12px;
    font-size: 25px;
    background: transparent;
    border: #32A287 2px solid;
    color: #6B434B;
    margin: 10px;
    padding: 5px;
}

.main__fieldset--label {
    font-size: 25px;
    color: #6B434B;
    margin: 10px;
}

.main__bnt {
    background: #ABFBAB;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #32A287;
    border: 2px solid #32A287;
}

table {
    font-size: 15px;
    color: #6B434B;
    max-width: 92%;
    margin: 20px;
}

th, td {
    border: #32A287 2px solid;
    padding: 8px 10px;
}

.titulos {
    font-weight: 700;
}

.open {
    font-size: 12px;
    font-weight: 300;
}

.open:hover {
    font-size: 11px;
    font-weight: 600;
}

.dmsn {
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 80vh;
    background: #abfbab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;

}

.detals_mens-sect1 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.detals_mens-sect2 {
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.dnone {
    display: none;
}

.dflex {
    display: flex;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #6B434B;
}

