/* 
    font-family: "Roboto Flex", sans-serif;  
    font-family: "Oswald", sans-serif;
*/

body {
    background-image: url(../img/assets-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cab {
    background-image: url(../img/assets-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
}

.cab__sectA {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectB {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: -6vh;
}

.cab__sectA--img {
    height: 15vh;
}

.cab__sectB--h1 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #F5FBEA;
}

.cab__sectB--h2 {
    font-family: "Oswald", sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #F5FBEA;
}

.prin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prin__sect {
    position: relative;
    top: -15vh;
    background: #ABFBAB;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    z-index: -1;
}