body {
    background: url(../img/assets-7.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    background: url(../img/assets-1.png);
    background-position: center;
    background-repeat: no-repeat;
}