.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-radio input + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
  }
  
  .custom-radio input:checked + label:before {
    background-color: white;
    box-sizing: border-box;
    border: 5px solid #6B434B;
    padding: 4px;
  }

body {
    background-image: url(../img/assets-1.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Oswald", sans-serif;
}

.prin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.prin__section {
    background: url(../img/assets-7.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 90vh;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.prin__img {
    width: 5%;
    margin: 10px;
}

.prin__section--button {
    background: #ABFBAB;
    border-radius: 20px;
    padding: 23px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: #32A287;
    border: 4px solid #32A287;
}

.prin__section--button:hover {
    text-decoration: underline;
}

.prin__section--h1{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #6B434B;
}

.prin__section--fieldset {
    display:  flex;
    width: 80%;
    justify-content: space-around;
}

.label {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #6B434B;
}

.input__text {
    border-radius: 12px;
    font-size: 25px;
    background: transparent;
    border: #32A287 2px solid;
    color: #6B434B;
}

.newdivinputtype {
    flex-direction: column;
}

.newinputtype {
    margin: 10px;
}

.div__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset__flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.prin__bnt {
    font-family: "Oswald", sans-serif;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    border: 4px solid #6B434B;
    border-radius: 12px;
    color: #6b434b;
    font-weight: 600;
    margin: 5px;
}

@media (max-width: 430px) {
    .prin__bnt {
        display: none;
    }
    .prin__img {
        display: none;
    }
    .prin__section {
        width: 90%;
        margin: 5vh 5%;
        height: 90vh;
        background: url(../img/assets-9.png);
        border-radius: 50px;
    }
    .prin__section--fieldset {
        flex-direction: column;
    }

    .input__text {
        font-size: 35px;
        width: 100%;
    }

    .custom-radio {
        padding: 20px;
    }
}